body {
    margin: 0px;
    background-color: rgb(25, 119, 212);
    font: normal 18pt Arial;
    color: whitesmoke;
  }
  
  section#content {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100vw;
  }
  
  header#title {
    text-align: center;
  }
  
  div#box {
    padding: 20px;
    text-align: left;
    background-color: white;
    border-radius: 20px;
    width: 50vw;
    color: black;
  }

  #box img {
    width: 10vw;
    height: 20vh;
    border-radius: 50%;
    visibility: hidden;
    margin: auto;
    display: flex;
  }

  footer{
    font-size: 16px;
    text-align: center;
}
  
  input{
    font-size: 24px;
  }
  button{
    text-decoration: none;
    background-color: #2d95c1; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    border-radius: 50px;
    font-size: 24px;
  }
  #resultado{
    text-align: center;
  }
